$font-family-base:              'Nunito', sans-serif !default;
$grid-gutter-width:             20px !default;
$base-px-value:                 8px !default;

//colors
$brand-primary:                 #1ab7eb !default;
$brand-success:                 #00c853 !default;
$brand-secondary:               #ffffff !default;
$link-color:                    #999999 !default;
$body-bg:                       #f6f6f6 !default;
$card-bg:                       #ffffff;
$text-color:                    #999 !default;
$border-color:                  #e3e3e4;

//font sizes
$font-size-h1:                  60px !default;
