@import "variables";

@import "./../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "./../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "./../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "./../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "./../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "./../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "./../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

@import "loaders";

body {
  margin: 0;
  position: relative;
}

.app {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: $body-bg;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 520px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: $base-px-value * 2;
  .content {
    &-wrapper {
      background: $card-bg;
      width: 100%;
      height: 570px;
      display: flex;
      position: relative;
      z-index: 1;
      border-top: 5px solid $brand-primary;
      box-shadow: 2px -1px 39px -12px rgba(0,0,0,0.75);
    }
    &-sidebar {
      width: 100px;
      border-right: 1px solid $border-color;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top: 10px;
      background: url('./../assets/images/twitter.png') no-repeat top center;
      background-size: 56px;
      background-position-y: 10px;
    }
    &-main {
      width: 100%;
    }
    &-header {
      width: 100%;
      height: 64px;
      padding: $base-px-value;
      border-bottom: 1px solid $border-color;
      form {
        display: flex;
        justify-content: space-between;
        height: 100%;
        input {
          background: $brand-secondary;
          width: 100%;
          margin-right: $base-px-value;
          border: none;
          padding: 4px;
        }
      }
    }
    &-body {
      overflow: scroll;
      .tweets-box {
        .each {
          padding: $base-px-value * 2 $base-px-value;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $border-color;
          .avatar {
            margin-right: $base-px-value;
          }
          .details {
            background: $card-bg;
            width: 100%;
            position: relative;
            border-radius: 4px;
            .name {
              font-size: 14px;
              margin: 0 $base-px-value 0 0;
              color: $brand-primary;
            }
            .username {
              font-size: 12px;
            }
            .description {
              margin-top: 5px;
              font-size: 11px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
